@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');


:root {
    --yellow: #f9ca24;
}

* {
   font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: #333
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow)
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: 1rem 3rem;
    background: #333;
    font-size: 2rem;
    color: #eee;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5rem;
}

.btn:hover {
    background: var(--yellow);
}

.heading {
    text-align: center;
    margin: 0rem 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: var(--yellow);

}




.resume-link{
    font-size: 2rem;
    text-decoration: none;
    color: #fad550;
}



section i {
    padding: 5px;
}

header {
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .container img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--yellow);
    margin-bottom: 1rem;
}

header .container .name {
    font-size: 3.5rem;
    color: #fff;
}

header .container .title {
    font-size: 2rem;
    color: #eee;
    font-weight: 600;
}


header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    text-decoration: none;
    width: 30rem;
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    font-size: 2rem;
    color: #fff;
    border-radius: 5rem
}

header .navbar ul li a:hover {
    background: var(--yellow);
    color: black;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/**************/
/* home */
/**************/
.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow)
}

.home p {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 4rem;
}

.edu-intro{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    line-height: 4rem;
}

.introduction{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    line-height: 4rem;
}


/**************/
/* about */
/**************/
.about .about-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about .about-row .info {
    grid-column: 1/2;
    padding: 5rem 1rem;
    padding-left: 8rem;
}

.about .about-row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .about-row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

.about-img img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    border-radius: 5rem;
    margin-right: 15rem;
    display: none;
}

.about .about-row .counter {
    flex: 1 1 48rem;
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about .about-row .counter .box {
    width: 24rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .about-row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);
}

.about .about-row .counter .box h3 {
    font-size: 2rem;
    color: #fff;
}


.counter{
   grid-column: 2/3;
   grid-template-columns: 1fr 1fr;
}
/**************/
/* edu-box */
/**************/



.edu-wrapper{
    grid-column: 1/-1;
    justify-content: center;

    display: flex;
    flex-direction: row;
    gap:1rem
}


.edu-box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.edu-box span {
    font-size: 1.3rem;
    background-color: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.edu-box h3 {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.edu-box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);
}
/**************/
/* portfolio */
/**************/
.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}


.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}



/* contact */
.contact .contact-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .contact-row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}


.contact .contact-row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .contact-row form .box {
    padding: 1rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .contact-row form .message{
    height: 15rem;
    resize: none;
}



.contact .contact-row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .contact-row .content .info h3{
display: flex;
align-items: center;
font-size: 2rem;
color: #fff;
padding: 1rem  0;
font-weight: normal;
}

.contact .contact-row .content .info h3 i {
padding: 1rem;
color: var(--yellow);
}
.language{
    font-size: 2rem;
    color: #eee;
    padding: 0 .5rem;
}
    

.top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    color: white;
    font-size: 50px;
    
}



/* media queries */

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .about .about-row .counter .box {
        width: 15rem;
    }

    .about-img img {
        display: block;
    }

}



@media(max-width:991px) {
    body {
        padding: 0;
    }

    .about .about-row .info {
        flex: 1 1 48rem;
        padding-left: 10rem;
    }

    .about .about-row .counter .box {
        width: 15rem;
    }

    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    .about-img img {
        display: block;
    }
}



@media(max-width:768px) {
    html {
        font-size: 50%;
    }

    .about .about-row .counter .box {
        width: 15rem;
    }

    .about-img img {
        display: block;
    }

}



@media(max-width:600px) {

    body {
        padding: 0;
    }

    header {
        width: 100vw;
    }

    #menu {
        display: block;
    }

    .introduction{
        font-size: 1rem;
        color: #fff;
        font-weight: 700;
        line-height: 2rem;
    }



    .heading {
        margin: 0 3rem;
    }

    .about .about-row .info {
        padding: 1rem 0 2rem 8rem;
    }

    .about .about-row{
      grid-template-columns: 1fr;
        grid-template-rows: 1fr 15rem 1fr
    }
    .edu-wrapper{
        grid-row: 2/3;
        justify-items: center;
        margin-left: 3rem;
    }


    .about .about-row .counter {
        grid-row: 3/4;
        grid-column: 1/-1;
        justify-content: center;
        align-items: center;
        width: 85%;
    }
    .about .about-row .counter .exp-wrapper{
        display: flex;
    }
        

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .contact-row form{
        margin: 3rem;
    }
}